@model List<CityGuide.ViewModels.ObjectiveViewModel>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle menu-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="height:40px;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        @if (!System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        }
        else
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        }
    </div>
</div>
<div class="category-header">
    <img src="~/Content/images/tour.png" class="category-icon" />
    <span style="line-height:39px;">ADD TOUR</span>
</div>
<form method="post">
    <select id="objSelect" name="obj[0]">
        @foreach (var i in Model)
        {
            <option value="@i.Id">@i.Name</option>
        }
    </select>
    <select id="transportSelect" name="transport[0]">
        <option value="1">Car</option>
        <option value="2">Bus</option>
        <option value="3">Walk</option>
    </select>
    <select id="objSelect" name="obj[1]">
        @foreach (var i in Model)
        {
            <option value="@i.Id">@i.Name</option>
        }
    </select>
    <button id="Submit" type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>
<button id="buttonTest">Add More</button>
<script>
    $(document).ready(function () {
        var i, j;
        i = 1;
        j = 0;
        $("#buttonTest").click(function () {
            i++;
            j++;
            $('#transportSelect').clone().attr('id', 'transportSelect').attr('name', 'transport[' + j + ']').insertAfter($('[id^="objSelect"]').last());
            $('#objSelect').clone().attr('id', 'objSelect').attr('name', 'obj[' + i + ']').insertAfter($('[id^="transportSelect"]').last());
        });
    });
</script>