@model CityGuide.ViewModels.TourViewModel

@{
    ViewBag.Title = "TOURS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle menu-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="height:40px;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        @if (!System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        }
        else
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        }
    </div>
</div>
<div class="category-header">
    <img src="~/Content/images/tour.png" class="category-icon" />
    <span style="line-height:39px;">TOURS</span>
</div>
<div class="tourContainer">
    <h3>
        @Html.DisplayFor(Model => Model.Name)
        <br />
        <img src="~/Content/images/@Model.Rating stars.png" style="height:15px; width: auto; margin-top:-10px;" />
    </h3>
    @{
        var n = Model.Objectives.Count;
        for (int i = 0; i < n - 1; i++)
        {
            <div class="objTour">
                <div style="background:url(@Model.Objectives[i].Photos[0].Url) 50% 50% no-repeat; background-size: cover;" class="objective-listing-photo"></div>
                <div class="objective-listing-details">
                    <h4 style="font-family:AlegryaSansRegular; font-weight: bold;">@Model.Objectives[i].Name</h4>
                    <p style="font-family:AlegryaSans;">@Model.Objectives[i].Address</p>
                </div>
            </div>
            @Html.Raw("<img src=\"" + Model.Transports[i].IconUrl + "\" style=\"height:25px; padding: 5px; margin-left:32px; border: 1px solid black; border-radius: 50px;\">" + Model.Transports[i].Name + "<br />")
        }
        <div class="objTour">
            <div style="background:url(@Model.Objectives[n-1].Photos[0].Url) 50% 50% no-repeat; background-size: cover;" class="objective-listing-photo"></div>
            <div class="objective-listing-details">
                <h4 style="font-family:AlegryaSansRegular; font-weight: bold;">@Model.Objectives[n-1].Name</h4>
                <p style="font-family:AlegryaSans;">@Model.Objectives[n-1].Address</p>
            </div>
        </div>
    }
</div>

