@model List<CityGuide.ViewModels.TourViewModel>

@{
    ViewBag.Title = "SEARCH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle menu-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="height:40px;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        @if (!System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        }
        else
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        }
    </div>
</div>
<div id="tab-container">
    <div class="category-header">
        <img src="~/Content/images/tour.png" class="category-icon" />
        <span style="line-height:39px;">TOURS</span>
        <div style="height: 39px; width:39px; float:right; border-left: 1px solid #BA952A; text-align:center; background-color:#EEBF31;">
            <a href="@Url.Action("Create")">
                <span class="glyphicon glyphicon-plus" style="font-family: 'Glyphicons Halflings'!important; line-height:39px;"></span>
            </a>
        </div>
        <div style="height: 40px; width: 39px; float:right; text-align:center; background-color: #FFFFFF; border-left: 1px solid #BFC2D3; border-bottom: 1px solid #FFFFFF;">
            <a href="@Url.Action("Index")">
                <span class="glyphicon glyphicon-search center-block" style="font-family: 'Glyphicons Halflings'!important; line-height:39px;"></span>
            </a>
        </div>
    </div>

    <div class="objectives-container" id="search-tours">
        <div style="margin-top:15px; margin-left:10px;">
            @using (Html.BeginForm())
            {
                <p>
                    <input id="SearchString" name="SearchString" placeholder="Search Tours" type="text" value="" style="border: none; font-family:AlegryaSans">
                    <input type="submit" value="Filter" />
                </p>
            }
        </div>
        <hr style="margin:0 auto;" />
        @foreach (var o in Model)
        {
            <div class="objective-square">
                <div class="objective-listing-photo">
                    <img src="@o.Objectives[0].Photos[0].Url" style="float:left; height:100%; object-fit:cover; margin-right: 1px;" />
                    <img src="@o.Objectives[1].Photos[0].Url" style="float:left; height:49%; object-fit:cover; margin-bottom: 1px;" />
                    <img src="@o.Objectives[2].Photos[0].Url" style="float:left; height:50%; object-fit:cover;" />
                </div>
                <div class="objective-listing-details">
                    <h4 style="font-family:AlegryaSansRegular; font-weight: bold;">@Html.ActionLink((string)o.Name + " - " + o.User.FirstName + " " + o.User.LastName, "Details/" + (int)@o.Id, "Tours")</h4>
                    <p style="font-family:AlegryaSans;">
                        @o.Stops Stops
                    </p>
                    @if (o.Rating == 0)
                {
                        <p style="font-family:AlegryaSans;">Not enough reviews yet</p>
                    }
                    else
                    {
                        <img src="~/Content/images/@o.Rating stars.png" style="height:20px; width: auto; margin-top:-10px;" />
                    }
                </div>
            </div>
        }

        <div style="clear:both"></div>
    </div>
</div>
