@model CG.Domain.Objective

@{
    ViewBag.Title = "Details";
}
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle menu-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="height:40px;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        @if (!System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        }
        else
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        }
    </div>
</div>
<div style="padding:2%">
    <h2 style="font-family:AlegryaSansRegular; font-weight: bold; color:#444877;">@Html.DisplayFor(model => model.Name)</h2>
    <input name="my_input" value="3" id="rating_simple" type="hidden">
    <div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var i in Model.Photos)
                {
                    <div class="swiper-slide" style="background-image:url(@i.Url)"></div>
                }
            </div>
        </div>
    </div>

    <div id="tab-container" class="tab-container">
        <ul class='etabs'>
            <li class='tab'><a href="#tabs1-desc">DESCRIPTION</a></li>
            <li class='tab'><a href="#tabs1-map">MAP</a></li>
            <li class='tab'><a href="#tabs1-rev">REVIEWS</a></li>
        </ul>
        <div id="tabs1-desc">
            @Html.DisplayFor(model => model.Description)
        </div>
        <div id="tabs1-map">
            <div id="map"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgB6k3M1uQPR8KH2GCrckVIXb9veb3QoQ&callback=initMap"
                    async defer></script>
        </div>
        <div id="tabs1-rev">
            <div class="read-reviews">
                <hr />
                <p id="add-review-text"><a href="">@Html.ActionLink("Add your review", "AddReview", "Objective", new { ObjectiveId = Html.DisplayFor(model => model.Id) }, null)</a></p>
                <hr />
            </div>
            @foreach (var i in Model.Reviews)
            {
                <div class="review-container">
                    <div class="review-title">
                        <p>@i.Title</p>
                        <img src="~/Content/images/@i.ScoreGiven stars.png" style="height:15px; margin-top:-10px;" />
                        
                    </div>
                    <div class="review-profile">
                        <img src="//graph.facebook.com/@i.User.FacebookID/picture" class="img-circle" />
                        <p style="font-weight:bold; font-family:AlegryaSansRegular;">@i.User.FirstName @i.User.MiddleName @i.User.LastName</p>
                        <br />
                        <p>June 30th, Cluj-Napoca, Romania</p>
                    </div>
                    <div class="review-text">
                        <p>@i.Text</p>
                    </div>
                </div>
                <hr />
            }
        </div>
    </div>
    <script src="../../Content/dist/js/swiper.min.js" type="text/javascript"></script>
    <script src="../../Content/dist/js/star-rating.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.easytabs.js" type="text/javascript"></script>
    <script src="../../Scripts/Site.js" type="text/javascript"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container');
        $(document).ready(function () {
            $("#rating_simple").webwidget_rating_simple({
                rating_star_length: '5',
                rating_initial_value: '@Html.DisplayFor(model => model.Score)',
                rating_function_name: '',
                directory: '../../Content/images/'
            });
            $('#tab-container').easytabs();
        });
    </script>

</div>