@model CG.Domain.Category

@{
    ViewBag.Title = Html.DisplayFor(model => model.Name);
}
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle menu-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="height:40px;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        @if (!System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        }
        else
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        }
    </div>
</div>
<div class="category-header">
    <img src="@Html.DisplayFor(model => model.IconUrl)" class="category-icon" /><span class="category-name">@Html.DisplayFor(model => model.Name)</span>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>


    @using (Html.BeginForm("Details", "Category", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "sort-form" }))
    {
        <select id="sortOrder" class="selectpicker" name="sortOrder" style="margin-top: 10px" data-width="120px" onchange="this.form.submit();" multiple title="Sort by">
            <option value="">Name</option>
            <option value="name_desc">Name desc.</option>
            <option value="score">Score</option>
            <option value="score_desc">Score desc.</option>
        </select>
    }
</div>
<div class="objectives-container">
    @foreach (var o in ViewBag.Objectives)
    {
        <div class="objective-square">
            <div style="background:url(@o.Photos[0].Url) 50% 50% no-repeat; background-size: cover;" class="objective-listing-photo"></div>
            <div class="objective-listing-details">
                <h4 style="font-family:AlegryaSansRegular; font-weight: bold;">@Html.ActionLink((string)o.Name, "Details/" + (int)@o.Id, "Objective")</h4>
                <p style="font-family:AlegryaSans;">@o.Address</p>
                <img src="~/Content/images/@o.Score stars.png" style="height:15px; width: auto; margin-top:-10px;" />
                @if (o.Reviews.Count != 0)
                {
                    <p style="font-family:AlegryaSans">@o.Reviews[0].Text <a href="../../Objective/Details/@o.Id#tabs1-rev"> @o.Reviews.Count Reviews</a></p>
                }
                else
                {
                    <p style="font-family:AlegryaSans">Not enough reviews yet</p>
                }
            </div>
        </div>
    }

    <div style="clear:both"></div>
</div>

<script>
    $(document).ready(function () {
        $("option").click(function () {
            $(".sort-form").submit();
        })
    });
</script>